* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    background: #eee;
    padding: 0 1rem;
}

/* Header Design */
header {
    background-color: #f5ba13;
    margin: auto -1rem;
    padding: 1rem 2rem;
    box-shadow: 0 0 0.8rem 0 rgba(0, 0, 0, 0.3);
}

header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
}

/* Notes Design */
.addnote {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    margin: auto;
    padding: 10px;
    width: 300px;
    margin-top: 10px;
    position: relative;
}

.addnote button {
    border-radius: 50%;
    background-color: #f5ba13;
    color: #eee;
    font-size: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-color:#f5ba13;
    border-bottom: #f5ba13;
    border-right: #f5ba13;
    position: absolute;
    right: 5px;
    bottom: -12px;
}

.addnote input {
    padding: 5px;
    border: #eee;
    outline-style: none;
    font-size: 16px;
}

.addnote textarea {
    padding: 7px;
    border: #fff;
    outline-style: none;
    font-size: 16px;
}

.delete {
    outline-style: none;
    border: none;
    color: #f5ba13;
    float: right;
    background: transparent;
}


/* Footer Design */
footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer p {
    color: #ccc;
}

/* Notes Design */

.note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}

.note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
}

.note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}


